# Miscellaneous
*.class
*.log
*.pyc
*.swp
**/.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode
.vscode/
*.code-workspace

# Flutter / Dart Related
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/
build/
pubspec.lock

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig

# macOS
macos/Pods/
macos/.symlinks/
macos/Flutter/.last_build_id
macos/Flutter/Flutter.framework
macos/Flutter/Generated.xcconfig

